html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 238, 238);
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  width: 150px;
  height: 50px;
  margin-top: 15px;
}

form {
  padding: 20px;
  margin-top: 50px;
}

form h5 {
  margin: 20px 0;
}

.createProjectBtn {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.createMilestoneBtn {
  margin-top: 9px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.projectTable {
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: -5px -5px 5px #888888;
  border-radius: 3px;
  cursor: default;
}

.projectTable:hover {
  box-shadow: -7px -7px 7px #747474;
  background-color: rgb(250, 250, 250);
}

.custom-badge {
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 9px;
}

.createMilestone {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.remark {
  border-left-style: solid;
  border-left-color: rgb(1, 167, 167);
  border-left-width: 5px;
}

.remark:hover {
  border-left-style: solid;
  border-left-color: rgb(167, 1, 51);
  border-left-width: 5px;
}

.custom-font-caps {
  font-variant: small-caps;
}

.custom-link {
  cursor: pointer;
  color: #2196f3;
}

.custom-link:hover {
  background-color: black;
}

.flex-container > div {
  margin: 10px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.custom-toggle-button {
  width: 30px;
  text-align: center;
  margin-left: 20px;
  cursor: pointer;
}

.custom-sidebar {
  height: 100%;
  background: #4e4e4e;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 250px;
  z-index: 300;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.custom-sidebar.open {
  transform: translateX(0);
}

.custom-sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.custom-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 200;
  top: 0;
  left: 0;
}

.custom-fixed {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

.custom-content-top-margin {
  margin-top: 70px;
}

@media (min-width: 992px) {
  .custom-sidebar {
    display: none;
  }
  .custom-toggle-button {
    display: none;
  }
}

.custom-member-ui,
.custom-user-ui {
  display: flex;
  align-items: center;
  font-size: larger;
  font-weight: 400;
  margin: 10px;
  cursor: pointer;
}

.custom-user-ui span:hover {
  color: rgb(18, 117, 117);
}

.custom-member-ui:hover {
  color: rgb(4, 129, 212);
}

.custom-icon-margin {
  margin-right: 5px;
}
