body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 238, 238);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 150px;
  height: 50px;
  margin-top: 15px;
}

form {
    padding: 20px;
    margin-top: 50px;
}

  form h5 {
  margin: 20px 0;
}

.createProjectBtn{
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.createMilestoneBtn{
  margin-top: 9px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.projectTable{
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: -5px -5px 5px #888888;
  border-radius: 3px;
  cursor: default;
}

.projectTable:hover{
  box-shadow: -7px -7px 7px #747474;
  background-color: rgb(250, 250, 250);
}

.custom-badge{
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 9px;
}

.createMilestone{
  margin-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.remark{
  border-left-style: solid;
  border-left-color: rgb(1, 167, 167);
  border-left-width: 5px;
}

.remark:hover{
  border-left-style: solid;
  border-left-color: rgb(167, 1, 51);
  border-left-width: 5px;
}

.custom-font-caps{
  font-variant: small-caps;
}

.custom-link{
  cursor: pointer;
  color: #2196F3;
}

.flex-container > div {
  margin: 10px;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}